*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;}
.game-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:  1rem;
    border: none;
    font-size: 2.8rem;
    color: #b0413e;
    background-color: #ffffc7;
}
#Reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
    border: none;

}
#new_bt{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
    border: none;

}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
    
}

.msg_container{
    height: 120vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hide{
    display: none;
}
